# Access the Data

In [18]:
import os
import pandas as pd

# Get parent directory
parent_directory = os.path.dirname(os.getcwd())
# Join the parent directory with path where the data resides
ECOMMERCE_SESSION_DATA_PATH = os.path.join(parent_directory, "Soal 1 - Data Transformation dan Analysis Case")

# Create a function to load the data
def load_ecommerce_session_data(ecommerce_session_data_path=ECOMMERCE_SESSION_DATA_PATH) -> pd.DataFrame:
    # The path of the data
    csv_path = os.path.join(ecommerce_session_data_path, "ecommerce-session-bigquery.csv")
    return pd.read_csv(csv_path)

# Take a Quick Look at the Data Structure

In [19]:
df = load_ecommerce_session_data()

In [20]:
# Load the first five occurrents of the data
df.head()

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,...,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
0,2515546493837534633,Organic Search,966564,Taiwan,(not set),NaN,NaN,1567.0,82.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
1,9361741997835388618,Organic Search,157377,France,not available in demo dataset,NaN,NaN,321.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
2,7313828956068851679,Referral,228279,United States,San Francisco,NaN,NaN,927.0,11.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
3,6036794406403793540,Organic Search,1615618,United States,Boulder,NaN,NaN,1616.0,13.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
4,7847280609739507227,Organic Search,37832,Canada,not available in demo dataset,NaN,NaN,1222.0,45.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN

In [21]:
# Get general information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            10000 non-null  uint64
 1   channelGrouping          10000 non-null  object
 2   time                     10000 non-null  int64
 3   country                  10000 non-null  object
 4   city                     10000 non-null  object
 5   totalTransactionRevenue  619 non-null    float64
 6   transactions             628 non-null    float64
 7   timeOnSite               9713 non-null   float64
 8   pageviews                9999 non-null   float64
 9   sessionQualityDim        19 non-null     float64
 10  date                     10000 non-null  int64
 11  visitId                  10000 non-null  int64
 12  type                     10000 non-null  object
 13  productRefundAmount      0 non-null      float64
 14  productQuantity          45 non-null     float64
 15  productPrice             10000 non-null  int64
 16  productRevenue           0 non-null      float64
 17  productSKU               10000 non-null  object
 18  v2ProductName            10000 non-null  object
 19  v2ProductCategory        10000 non-null  object
 20  productVariant           10000 non-null  object
 21  currencyCode             9614 non-null   object
 22  itemQuantity             0 non-null      float64
 23  itemRevenue              0 non-null      float64
 24  transactionRevenue       0 non-null      float64
 25  transactionId            0 non-null      float64
 26  pageTitle                9908 non-null   object
 27  searchKeyword            0 non-null      float64
 28  pagePathLevel1           10000 non-null  object
 29  eCommerceAction_type     10000 non-null  int64
 30  eCommerceAction_step     10000 non-null  int64
 31  eCommerceAction_option   0 non-null      float64
dtypes: float64(14), int64(6), object(11), uint64(1)
memory usage: 2.4+ MB

In [22]:
# Describe the data
df.describe()

,fullVisitorId,time,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,date,visitId,productRefundAmount,...,productPrice,productRevenue,itemQuantity,itemRevenue,transactionRevenue,transactionId,searchKeyword,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
count,1.000000e+04,1.000000e+04,6.190000e+02,628.000000,9713.000000,9999.000000,19.000000,1.000000e+04,1.000000e+04,0.0,...,1.000000e+04,0.0,0.0,0.0,0.0,0.0,0.0,10000.000000,10000.0,0.0
mean,4.538050e+18,3.248462e+05,2.103635e+08,1.050955,720.119222,22.142114,50.210526,2.016097e+07,1.473169e+09,NaN,...,1.585565e+07,NaN,NaN,NaN,NaN,NaN,NaN,0.071500,1.0,NaN
std,3.038982e+18,5.647221e+05,5.656026e+08,0.289005,967.997653,26.631372,32.481754,9.067598e+02,2.518655e+06,NaN,...,2.095339e+07,NaN,NaN,NaN,NaN,NaN,NaN,0.363595,0.0,NaN
min,1.664653e+14,0.000000e+00,3.530000e+06,1.000000,1.000000,1.000000,1.000000,2.016080e+07,1.470036e+09,NaN,...,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,NaN
25%,1.701094e+18,4.252400e+04,5.508000e+07,1.000000,164.000000,7.000000,19.500000,2.016082e+07,1.471555e+09,NaN,...,4.990000e+06,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,NaN
50%,4.449181e+18,1.357180e+05,9.542000e+07,1.000000,383.000000,14.000000,62.000000,2.016090e+07,1.473019e+09,NaN,...,9.990000e+06,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,NaN
75%,7.170959e+18,3.542545e+05,1.866600e+08,1.000000,898.000000,27.000000,79.000000,2.016092e+07,1.474471e+09,NaN,...,1.599000e+07,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,NaN
max,9.994767e+18,1.089403e+07,6.831960e+09,6.000000,15020.000000,429.000000,92.000000,2.017080e+07,1.501622e+09,NaN,...,9.999000e+07,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,1.0,NaN

# Clean the Data

In [23]:
# Handle missing values
# Dropping columns with all missing values
df.drop(['productRefundAmount', 'productRevenue',
         'itemQuantity', 'itemRevenue', 'transactionRevenue', 'transactionId',
         'searchKeyword', 'eCommerceAction_option'], axis=1, inplace=True)

In [24]:
# Convert 'time' column to datetime
df['time'] = pd.to_datetime(df['time'], unit='s')
# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

In [25]:
# Convert categorical columns to categorical data types
cat_cols = ['channelGrouping', 'country', 'city', 'type', 'productSKU', 'v2ProductName',
            'v2ProductCategory', 'productVariant', 'currencyCode', 'pageTitle', 'pagePathLevel1']
df[cat_cols] = df[cat_cols].astype('category')

# Case Studies

#### Identify top products based on the total transaction revenue per day.

In [26]:
# Group by date and product, then calculate total transaction revenue
product_revenue_per_day = df.groupby(['date', 'v2ProductName'])['totalTransactionRevenue'].sum().reset_index()

# Find the top products based on total transaction revenue per day
top_products_per_day = product_revenue_per_day.sort_values(by=['date', 'totalTransactionRevenue'], ascending=[True, False])

# Display the top products per day
top_products_per_day.head()

         date               v2ProductName  totalTransactionRevenue
13 2016-08-01             Chevron Shopper              144790000.0
61 2016-08-01  Latitudes Foldaway Shopper               66900000.0
71 2016-08-01    Speed Zone Air Mesh Tote               66900000.0
76 2016-08-01          Waterpoof Gear Bag               66900000.0
0  2016-08-01         1 oz Hand Sanitizer                      0.0

I think what ChatGPT gave me does not properly answer the question, because what the question wants is the top product for each day. So here is my improvement:

In [27]:
# Filter out rows where totalTransactionRevenue equals to 0
df[df['totalTransactionRevenue'] == 0].dropna()

# Find the top product for each day based on total transaction revenue
top_products_per_day = product_revenue_per_day.loc[product_revenue_per_day.groupby('date')['totalTransactionRevenue'].idxmax()]

In [28]:
top_products_per_day.head()

          date        v2ProductName  totalTransactionRevenue
13  2016-08-01      Chevron Shopper              144790000.0
97  2016-08-02      Chevron Shopper              191200000.0
168 2016-08-03  1 oz Hand Sanitizer                      0.0
282 2016-08-04     Google Lunch Bag              113850000.0
349 2016-08-05      Chevron Shopper              264780000.0

#### Identify the most profitable city or province based on the total transaction revenue.

In [29]:
# Aggregate by city
city_revenue = df.groupby('city')['totalTransactionRevenue'].sum().reset_index()
most_profitable_city = city_revenue.loc[city_revenue['totalTransactionRevenue'].idxmax()]
most_profitable_city.head()

city                       not available in demo dataset
totalTransactionRevenue                    65102440000.0
Name: 170, dtype: object

I have encountered an edge case where the most profitable city is "not available in demo dataset". Because I don't know what to replace, I will let it be.

In [30]:
# Aggregate by country
country_revenue = df.groupby('country')['totalTransactionRevenue'].sum().reset_index()
most_profitable_country = country_revenue.loc[country_revenue['totalTransactionRevenue'].idxmax()]
most_profitable_country.head()

country                     United States
totalTransactionRevenue    110441990000.0
Name: 101, dtype: object